@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: lowercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

section {
    padding-top: 30px;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

section h1{
    position: relative;
    justify-content: left;
    display:flex;
    color:#fff;
    font-weight:500;
}

section img#matlab{
    position:relative;
    justify-content: center;
    display:flex;
    width: 100%;
    padding-top: 20px;
    pointer-events: none;
}

section p{
    position:relative;
    justify-content: center;
    display:flex;
    color:#fff;
    padding-top: 20px;
}

footer {
    width: 100%;
    padding: 100px;
    display:flex;
    justify-content: center;
    color: #fff;
}